# Emacs buffers
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
## w/o extensions:
*
!*.*
!*/
!Makefile
!makefile
## with extensions:
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Token interrupts .dat
data/lexer_token_interrupts.dat

# Misc files/dirs
.Rhistory
build/
output/
src/compile_commands.json
.dir-locals.el

# Source files not in src/
*.c
*.h
!src/*.c
!src/*.h

# Emacs backup files
**/\#*\#
**/.\#*
